<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delivery</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" type="text/javascript"></script>
    <script  th:inline="javascript" type="text/javascript" th:src="@{/js/map.js}"></script>
</head>

<body onload="initFunction()" style="margin:0;">
<div id="loader"></div>
<div class="login-wrap">
    <div class="login-html">
        <div class="login-form">
            <div class="group">
                    <h1 th:inline="text" >
                        [[${currentUser.userName}]]
                        <small th:text="${currentUser.firstName}">Subtitle</small>
                        <small th:text="${currentUser.lastName}">Subtitle</small>
                    </h1>

                    <div>
                        <label id="passengersLabel" th:text="#{passengers}">Passengers</label>
                        <label id="passengersNumber" th:text="${delivery.passengers}">Subtitle</label>
                    </div>
                    <div>
                        <label id="pointALabel" th:text="#{segments.pointA}">Passengers</label>
                        <label id="pointAtext" th:text="${delivery.pointA}">Subtitle</label>
                    </div>
                    <div>
                        <label id="pointBLabel" th:text="#{segments.pointB}">Passengers</label>
                        <label id="pointBtext" th:text="${delivery.pointB}">Subtitle</label>
                    </div>
                    <div>
                        <label id="deliveryIDLabel" th:text="#{idDelivery}">Passengers</label>
                        <label id="deliveryID" th:text="${delivery.idDelivery}">Subtitle</label>
                    </div>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var cellImageBackGround = /*[[@{/images/map/test_lol.png}]]*/;

                        var cellImageRoad = /*[[@{/images/map/road.png}]]*/;
                        var pointAImage = /*[[@{/images/map/pointA.png}]]*/;
                        var pointBImage = /*[[@{/images/map/pointB.png}]]*/;
                        var spotImage = /*[[@{/images/map/spot.png}]]*/;

                        var surroundImage = /*[[@{/images/map/surrounding.png}]]*/;

                        var pointA =  /*[[*{pointA}]]*/

                        var cellImageSpotDrone = /*[[@{/images/map/road_drone.png}]]*/;
                        var cellImageRoadDrone = /*[[@{/images/map/spot_drone.png}]]*/;
                        var cellImageDrone = /*[[@{/images/map/drone.png}]]*/;

                        var cellImageSpotCar = /*[[@{/images/map/spot_car.png}]]*/;
                        var legendeWorld = /*[[@{/images/map/legende_user.png}]]*/;



                        var only_view = true;
                        var visualization = false;


                        var id_delivery = [[${delivery.idDelivery}]];
                        var pointA_Value = [[${delivery.pointA}]];
                        var pointB_Value = [[${delivery.pointB}]];

                        /*]]>*/
                    </script>
                    <p>
                     <a id="deliveryDone" href="/deliveries" th:text="#{deliveryDone}" class="button" >Close</a>
                    </p>
                    <p>
                        <a id="closeButton" href="/deliveries" th:text="#{close}" class="button" >Close</a>
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="content" id="content" ><!--style="width:100%">-->
    <div id="myDiv">   <!-- style="width:100%"> -->
        <!-- Quentin wereld
        <div id="myMapCanvas" width="1500" height="1500">
            <canvas id="mapCanvas" width="1500" height="1500" style="border:1px solid #000000"></canvas>
        </div>
        -->
        <div id="myMapCanvas" width="900" height="900" >
            <canvas id="mapCanvas" width="900" height="900" style="border:1px solid #000000"></canvas>
        </div>
    </div>
</div>
</body>
</html>
