<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{user.management}')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        /*
        $('#segments').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}">Selectable items</div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}">Selected items</div>'
        });*/
    }
</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>
    <form action="#" th:action="@{/deliveries/{id}(id=${delivery})}" th:object="${delivery}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}?'has-error': ''">
            <label class="control-label" th:text="#{lastName}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname Error</span>
            <input class="form-control" type="text" th:field="*{lastName}" />
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}?'has-error': ''">
            <label class="control-label" th:text="#{firstName}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</span>
            <input class="form-control" type="text" th:field="*{firstName}" />
        </div>

        <div>
            <label th:id="pointA" th:text="#{segments.pointA}">Segment Point A</label>
            <input class="form-control" th:type="hidden" id="inputA" type="text" th:field="*{pointA}" />

            <!--<select th:field="*{pointA}">
                <option th:each="segment : ${allSegments}"
                        th:value="${segment.name}"
                        th:text="${segment.name}">Wireframe</option>

            </select> -->
        </div>

        <div>
            <label th:text="#{segments.pointB}">Segment Point B</label>
            <input class="form-control" th:type="hidden" id="inputB" type="text" th:field="*{pointB}" />

            <!-- <select th:field="*{pointB}">
                <option th:each="segment : ${allSegments}"
                        th:value="${segment.name}"
                        th:text="${segment.name}">Wireframe</option>
            </select>-->
        </div>

        <div>
            <label th:text="#{passengers}">Passengers</label>
            <select th:field="*{passengers}">
                <option th:each="passenger : ${allPassengers}"
                        th:value="${passenger}"
                        th:text="${passenger}">Wireframe</option>
            </select>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var cellImageBackGround = /*[[@{/images/map/test_lol.png}]]*/;
            var cellImageRoad = /*[[@{/images/map/road.png}]]*/;
            var pointAImage = /*[[@{/images/map/pointA.png}]]*/;
            var pointBImage = /*[[@{/images/map/pointB.png}]]*/;
            var spotImage = /*[[@{/images/map/spot.png}]]*/;
            var surroundImage = /*[[@{/images/map/surrounding.png}]]*/;
            var pointA =  /*[[*{pointA}]]*/
            /*]]>*/
        </script>
        <div class="content">
            <div id="myDiv">
                <div id="myMapCanvas" width="1000" height="1000">
                    <canvas id="mapCanvas" width="1000" height="1000" style="border:1px solid #000000"></canvas>
                </div>
            </div>
        </div>
        <script  th:inline="javascript" type="text/javascript" th:src="@{/js/map.js}"></script>

        <p>
            <a href="/deliveries" th:text="#{close}" class="btn btn-primary">Close</a>
            <button type="submit" th:text="#{save}" class="btn btn-primary">Save</button>
        </p>
    </form>
</div>
<div>
    <p id="p2">Hello World!</p>
    <script>
        document.getElementById("p2").style.color = "blue";
    </script>
</div>
</body>
</html>