<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{user.management}')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        $('#segments').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}">Selectable items</div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}">Selected items</div>'
        });
    }
</script>
<div class="container">

    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>
    <form action="#" th:action="@{/deliveries/{id}(id=${delivery})}" th:object="${delivery}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}?'has-error': ''">
            <label class="control-label" th:text="#{lastName}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname Error</span>
            <input class="form-control" type="text" th:field="*{lastName}" />
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}?'has-error': ''">
            <label class="control-label" th:text="#{firstName}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</span>
            <input class="form-control" type="text" th:field="*{firstName}" />
        </div>

        <div>
            <label th:text="#{segments.pointName}">Segment Point A</label>
            <select th:field="*{pointName}">
                <option th:each="segment : ${allSegments}"
                        th:value="${segment.name}"
                        th:text="${segment.name}">Wireframe</option>
            </select>
        </div>

        <div>
            <label th:text="#{segments.pointB}">Segment Point A</label>
            <select th:field="*{pointB}">
                <option th:each="segment : ${allSegments}"
                        th:value="${segment.name}"
                        th:text="${segment.name}">Wireframe</option>
            </select>
        </div>

        <div>
            <label th:text="#{passengers}">Passengers</label>
            <select th:field="*{passengers}">
                <option th:each="passenger : ${allPassengers}"
                        th:value="${passenger}"
                        th:text="${passenger}">Wireframe</option>
            </select>
        </div>

        <p>
            <a href="/deliveries" th:text="#{close}" class="btn btn-primary">Close</a>
            <button type="submit" th:text="#{save}" class="btn btn-primary">Save</button>
        </p>
    </form>
</div>
<div>
    <p id="p2">Hello World!</p>
    <script>
        document.getElementById("p2").style.color = "blue";
    </script>
</div>
</body>
</html>