<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Home</title>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/default.css" rel="stylesheet" />
        <link href="/css/cards.css" rel="stylesheet" />
        <link href="/css/dashboard.css" rel="stylesheet" />
        <link href="/css/adminp.css" rel="stylesheet" />

    </head>

    <body>
        <div class="container-fluid display-table">
            <div class="row display-table-row">
                <div th:replace="layout :: side-menu"></div>

                <div class="main_container col-md-10 col-sm-11 display-table-cell valign-top padding-bottom">
                    <div th:replace="layout :: header3('Home')"></div>
                    <!-- In deze "div" komt de inhoud van de webapplicatie waar alle "actie" zich bevindt -->
                    <div class="inside-con">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <div class="card-container card-fixed-height">
                                    <div class="card"> <div class="front face">
                                        <div class="card-top text-center cyan">
                                            <h4>DELIVERIES</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row text-content" style="width:100%">
                                                <div class="col-12 text-center">Do you need to be somewhere? Plan out your route here.</div>
                                            </div>
                                            <div class="row dashboard-buttons" style="width:100%">
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="/deliveries/put" id="startDelivery" class="button">
                                                        <button type="button" id="dashboard-show-2_:_keco-add" class="btn btn-default shortcut-btn"><span th:text="#{newDelivery}"></span></button>
                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="face back"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                                <div class="card-container card-fixed-height">
                                    <div class="card">
                                        <div class="front face">
                                            <div class="card-top text-center cyan">
                                                <h4>VISUALISATIE</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row text-content" style="width:100%">
                                                    <div class="col-12 text-center">Get an overview of the map and track a vehicle you'd like to stalk.</div>
                                                </div>
                                                <div class="row dashboard-buttons" style="width:100%">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="/visualization" id="visualization" class="button">
                                                            <button type="button" id="dashboard-show-3_:_jap-av" class="btn btn-default shortcut-btn"><span th:text="#{visual}"></span></button>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="face back"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="/js/tabs.js"></script>
    </body>
</html>
