<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>View Jobs</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link href="/css/adminp.css" rel="stylesheet" />
</head>

<body onload="initPage()">
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div th:replace="layout :: side-menu"></div>

        <div class="main_container col-md-10 col-sm-11 display-table-cell valign-top padding-bottom">
            <div th:replace="layout :: header('View Jobs')"></div>
            <!-- In deze "div" komt de inhoud van de webapplicatie waar alle "actie" zich bevindt -->
            <div class="inside-con">
                <div class="row">
                    <div class="col-xs-12">
                        <input class="search" placeholder="Search" style="visibility: hidden" />
                        <table class="table table-hover">
                            <thead>
                            <tr class="bg-primary">
                               <!-- <th th:text="#{idOrder}">IDOrder</th>-->
                                <th th:text="#{idJob}">ID</th>
                                <th th:text="#{idStart}">Start</th>
                                <th th:text="#{idEnd}">End</th>
                                <th th:text="#{status}">Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <!-- IMPORTANT, class="list" have to be at tbody -->
                            <tbody class="list">
                            <tr th:each="job : ${allJobs}">
                                <!--<td class="IDORDER" th:value="${idOrder}" th:text="${job.joblist.id }">IDORDER</td>-->
                                <td class="ID" th:value="${id}" th:text="${job.id }">ID</td>
                                <td class="Start" th:value="${idStart}" th:text="${job.idStart}">Start</td>
                                <td class="End" th:value="${idEnd}" th:text="${job.idEnd }">End</td>
                                <td class="Vehicle" th:value="${status}" th:text="${job.status }">Status</td>

                                <td>
                                    <a th:href="@{/jobs/{id}(id=${job.id})}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                    <a th:href="@{/jobs/{id}/delete(id=${job.id})}"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/jobs/put" class="btn btn-primary" th:text="#{create.job}">Create job</a>
                        <a href="/jobs/deleteAll" class="btn btn-danger" th:text="#{delete.job}">Delete all jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/tabs.js"></script>

<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'idJob']
        };
    }


    $(document).ready(function() {
        $("#dashboard-show-6").click();//.addClass("active");
    });
</script>

</body>
</html>
