<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{jobs.management}')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'jobName']
        };
        var userList = new List('jobs-list', options);
    }
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>

    <div class="content">

        <div id="user-list">
            <input class="search" placeholder="Search" />
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{idJob}">ID</th>
                    <th th:text="#{idStart}">Start</th>
                    <th th:text="#{idEnd}">End</th>
                    <th th:text="#{idVehicle}">Vehicle</th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="job : ${allJobs}">
                    <td class="ID" th:value="${idJob}" th:text="${job.idJob }">ID</td>
                    <td class="Start" th:value="${idStart}" th:text="${job.idStart }">Start</td>
                    <td class="End" th:value="${idEnd}" th:text="${job.idEnd }">End</td>
                    <td class="Vehicle" th:value="${idVehicle}" th:text="${job.idVehicle }">Vehicle</td>
                    <td>
                        <a th:href="@{/jobs/{id}/(id=${job.idJob})}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a th:href="@{/jobs/{id}/delete(id=${job.idJob})}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/jobs/put" class="btn btn-primary" th:text="#{create.job}">Create job</a>
        </div>
    </div>
</div>
</body>
</html>
