<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:fragment="head (title)">
        <title th:text="'idDelivery Test Manager - ' + ${title}"></title>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script type="text/javascript" src="/js/list.min.js"></script>
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" type="text/javascript"></script>
    </head>


    <div th:fragment="side-menu" class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
        <img class="hidden-sm hidden-xs logo" src="/images/logo2.png" alt="logo" />
        <h1 class="webapp-name hidden-sm hidden-xs" th:text="#{appname}">MaaS</h1>
        <p>
            <span id="voornaamSession" class="hidden-sm hidden-xs" th:text="${currentUser.firstName}"></span>
            <span id="vzwSession" class="hidden-sm hidden-xs" th:text="${currentUser.lastName}"></span>
        </p>
        <p id="ondTypeSession" class="hidden-sm hidden-xs" th:text="${currentUser.userName}"></p>
        <ul id="side-nav">
            <!-- OVERZICHT -->
            <!-- De PHP-code in het navigatie gedeelte dient om een nummer weer te geven van het aantal notificaties -->
            <li class="link">
                <a id="dashboard-show-1" class="nav-ch" href="/">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    <span class="hidden-xs hidden-sm">OVERVIEW</span>
                </a>
            </li>
            <!-- DELIVERIES -->
            <li class="link">
                <a id="dashboard-show-2" href="#collapse-deliv" data-toggle="collapse" aria-controls="collapse-post" class="nav-ch">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span class="hidden-xs hidden-sm">DELIVERY</span>
                </a>
                <ul class="collapse collapseable" id="collapse-deliv">
                    <li><a id="new-deliv" class="delivery-link">NEW DELIVERY</a></li>
                </ul>
            </li>
            <!-- VISUALISATIE -->
            <li class="link">
                <a id="dashboard-show-3" href="#collapse-vis" data-toggle="collapse" aria-controls="collapse-post" class="nav-ch">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="hidden-xs hidden-sm">VISUALISATIE</span>
                </a>
                <ul class="collapse collapseable" id="collapse-vis">
                    <li><a id="vis-show" class="visualisation-link">SHOW</a></li>
                </ul>
            </li>
            <!-- ADMIN PANEL -->
            <li class="link">
                <a id="dashboard-show-6" href="#collapse-ap" data-toggle="collapse" aria-controls="collapse-post" class="nav-ch">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <span class="hidden-xs hidden-sm">ADMIN PANEL</span>
                </a>
                <ul class="collapse collapseable" id="collapse-ap">
                    <li><a class="manage-delivery-link">MANAGE JOBS</a></li>
                    <li><a class="create-delivery-link">CREATE JOB</a></li>
                    <li><a class="delivery-history-link">JOB HISTORY</a></li>
                    <li><a id="admin-settings" class="all-users-link">MANAGE USERS</a></li>
                    <li><a id="admin-gebruikers" class="create-user-link">CREATE USER</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div th:fragment="header(pagename)" id="header">
        <div class="row">
            <header id="nav-header" class="clearfix">
                <div class="hidden-lg hidden-md hidden-sm col-xs-1">
                    <nav class="navbar-default pull-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </nav>
                </div>
                <div class="col-md-7 col-sm-7 hidden-xs" id="header-title">
                    <b><span class="webapp-name" th:text="#{appname}">APPNAME</span>:</b> <span id="top-title" th:text="${pagename}"></span>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-10 pull-right">
                    <ul class="navbar-ul pull-right">
                        <li>
                            <a href="/logout" class="logout">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>

        <div class="dashboard-con">
            <div class="row">
                <!-- Afhankelijk van het aantal notificaties, een aangepaste melding weergeven -->
                <div class="col-md-12 alert alert-danger" id="info-bar" th:if="${error != null}">
                    <span th:text="${error}" ></span>
                </div>
            </div>
        </div>
    </div>

</html>