<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
	  	<meta charset="UTF-8"/>
	  	<title>Maas: Login</title>
		<link rel="stylesheet" href="/css/login.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>
	  <div class="login-page">
		  <div class="form">

			  <form class="register-form" name="addUser" th:action="@{/users/}" method="POST" th:object="${user}">
                  <h1>Register</h1>
				  <p th:if="${param.logout}" class="alert">You have been logged out</p>
				  <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
                  <input th:field="*{userName}" id="userName" placeholder="username" type="text" autofocus="autofocus"/>
                  <input th:field="*{password}" id="password" type="password" placeholder="password" data-type="password"/>
                  <input th:field="*{firstName}" id="firstName" type="text" placeholder="firstname"/>
                  <input th:field="*{lastName}" id="lastName" type="text" placeholder="lastname"/>
                  <input type="submit" class="button" value="Sign Up"/>
                  <p class="message">Already registered? <a href="#">Sign In</a></p>
			  </form>

			  <form class="login-form" name="f" th:action="@{/login}" method="POST">
                  <h1>Login</h1>
				  <p th:if="${param.logout}" class="alert">You have been logged out</p>
				  <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
				  <input type="text" name="username" value="" placeholder="name" autofocus="autofocus"/>
				  <input type="password" name="password" placeholder="password"/>
				  <input type="submit" value="Login"/>
				  <p class="message">Not registered? <a href="#">Create an account</a></p>
			  </form>
		  </div>
	  </div>
	</body>
	<script>
        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
	</script>
</html>
