<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
	  <meta charset="UTF-8"/>
	  <title>Login</title>
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>

		  <link rel="stylesheet" href="css/style.css"/>
	</head>

	<body>
	  <div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked="true"/><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"/><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<p th:if="${param.logout}" class="alert">You have been logged out</p>
					<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
					<h2>Login</h2>
					<form name="f" th:action="@{/login}" action="/login" method="POST">
						<div class="group">
							<label for="username" class="label">Username</label>
							<input type="text" name="username" value="" class="input"/>
						</div>
						<div class="group">
							<label for="password" class="label">Password</label>
							<input type="password" name="password" class="input"/>
						</div>
						<div class="group">
							<input type="submit" id="login" value="Login" class="button" />
						</div>
					</form>
				</div>
				<div class="sign-up-htm">
					<form name="addUser" th:action="@{/login}" action="/users/" method="POST" th:object="${user}">
						<div class="group">
							<label for="userName" class="label">Username</label>
							<input th:field="*{userName}" id="userName" type="text" class="input"/>
						</div>
						<div class="group">
							<label for="password" class="label">Password</label>
							<input th:field="*{password}" id="password" type="password" class="input" data-type="password"/>
						</div>
						<div class="group">
							<label for="firstName" class="label">firstName</label>
							<input th:field="*{firstName}" id="firstName" type="text" class="input"/>
						</div>
						<div class="group">
							<label for="lastName" class="label">lastName</label>
							<input th:field="*{lastName}" id="lastName" type="text" class="input"/>
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign Up"/>
						</div>
						<div class="hr"></div>
					</form>
				</div>
			</div>
		</div>
	  </div>
	</body>
</html>
