<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{site.map}')"></head>

<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'userName']
        };
        var userList = new List('site-map', options);
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var cellImageBackGround = /*[[@{/images/map/test_lol.png}]]*/;
    var cellImageRoad = /*[[@{/images/map/road.png}]]*/;
    var pointAImage = /*[[@{/images/map/pointA.png}]]*/;
    var pointBImage = /*[[@{/images/map/pointB.png}]]*/;
    /*]]>*/
</script>
<div class="content">
    <div id="myDiv">
        <div id="myMapCanvas" width="1000" height="1000">
            <canvas id="mapCanvas" width="1000" height="1000" style="border:1px solid #000000"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/map.js}"></script>

</body>
</html>