<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Jquery & bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>


  <!-- Nodes -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.34/go.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>



  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/default.css" rel="stylesheet" />
  <link href="/css/cards.css" rel="stylesheet" />
  <link href="/css/dashboard.css" rel="stylesheet" />
  <link href="/css/adminp.css" rel="stylesheet" />

  <script src="/js/svg.js"></script>
  <script src="/js/mapbuilder_link_extension.js" type="module"></script>
  <script src="/js/mapbuilder_robot_extension.js" type="module"></script>
  <script src="/js/visualisationCore.js"></script>
  <script src="/js/figures.js"></script>
  <script src="/js/mapbuilder.js" type="module"></script>

  <style>

    .wrapper {
      display: grid;
      grid-template-columns: 200px 1300px 200px;
      grid-gap: 10px;
    }

    .box {
      color: black;
      border-radius: 5px;
      padding: 20px;
      /*font-size: 150%;*/
    }
  </style>

  <!-- Datafiles -->
  <title>Map Builder</title>

</head>
<body>



<div class="container-fluid display-table">
  <div class="row display-table-row">
    <div th:replace="layout :: side-menu"></div>

    <div class="main_container col-md-10 col-sm-11 display-table-cell valign-top padding-bottom">
      <div th:replace="layout :: header3('Mapbuilder')"></div>
      <!-- In deze "div" komt de inhoud van de webapplicatie waar alle "actie" zich bevindt -->
      <div class="inside-con">




        <div class="wrapper">
          <div class="box a" id="library"><h4>Library</h4></div>
          <div class="box b" id="map"><h4>Map</h4></div>
          <div class="box c" id="properties">
            <h4>Properties</h4>
            <label for="name">Name</label>
            <input type="text" id="name" disabled="true"/>
            <button type="button" onclick="_deleteElement(null)" id="deleteBtn">Delete</button>
          </div>
          <svg>
            <defs>
              <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5"
                      markerWidth="3" markerHeight="3"
                      orient="auto-start-reverse">
                <path d="M 0 0 L 10 5 L 0 10 z" />
              </marker>
            </defs>
          </svg>
        </div>







      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="/js/tabs.js"></script>


</body>
</html>