<!DOCTYPE html>
<html>
<head>
    <title>reception page</title>
</head>
<body>
<!--in action gedeelte moet je de juiste pagina zetten waar de formhandler de rest kan afhandelen. (met de form handler)-->
<form action="/action_page.php">
    <br>First name:
    <input type="text" name="firstname" value="first name">
    <br>Last name:
    <input type="text" name="lastname" value="surname">
    <br>departure:
    <select name="departure">
        <option value="A">Position A</option>
        <option value="B">Position B</option>
        <option value="C">Position C</option>
        <option value="D">Position D</option>
    </select>
    <br>arrival:
    <select name="arrival">
        <option value="A">Position A</option>
        <option value="B">Position B</option>
        <option value="C">Position C</option>
        <option value="D">Position D</option>
    </select>
    <br>amount of passengers:
    <select name="passengers">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <br>
    <input type="submit" value="Submit">
    <input type="reset">
</form>
</body>
</html>