<!DOCTYPE html>

<html>
<head>
    <title>reception page</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${orderInput}" method="post">
    <table>
        <tr>
            <!-- first name, type string. for constraints, see orderInput class-->
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
        </tr>
        <tr>
            <!-- last name, type string. for constraints, see orderInput class-->
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
        </tr>
        <tr>
            <!-- departure, type string. this will be a dropdown menu (predefined options!) for constraints, see orderInput class-->
            <td>departure:</td>
            <td><select th:field="*{departure}">
                <option value="A">Position A</option>
                <option value="B">Position B</option>
                <option value="C">Position C</option>
                <option value="D">Position D</option>
            </select></td>
            <td th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}">departure Error</td>
        </tr>
        <tr>
            <!-- destination, type string. this will be a dropdown menu (predefined options!) for constraints, see orderInput class-->
            <td>destination:</td>
            <td><select th:field="*{destination}">
                <option value="A">Position A</option>
                <option value="B">Position B</option>
                <option value="C">Position C</option>
                <option value="D">Position D</option>
            </select></td>
            <td th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}">destination Error</td>
        </tr>
        <tr>
            <!-- amount of passengers, type integer. for constraints, see orderInput class-->
            <td>passengers</td>
            <td><input type="text" th:field="*{passengers}" /></td>
            <td th:if="${#fields.hasErrors('passengers')}" th:errors="*{passengers}">passenger Error</td>
        </tr>
        <tr>
            <!-- submit button. action (defined above) to send the info to the APPserver-->
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>
