<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delivery</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" type="text/javascript"></script>
    <script  th:inline="javascript" type="text/javascript" th:src="@{/js/map.js}"></script>
</head>

<body onload="initFunction()" style="margin:0;">
<div id="loader"></div>
<div class="login-wrap">
    <div class="login-html">
        <div class="login-form">
            <div class="group">
                <h1 th:inline="text" >
                    [[${currentUser.userName}]]
                    <small th:text="${currentUser.firstName}">Subtitle</small>
                    <small th:text="${currentUser.lastName}">Subtitle</small>
                </h1>
                <table class="table table-hover" id = "table_vehicles">
                    <thead>
                <tr>
                    <th th:text="#{idVehicle}">Vehicle ID</th>
                    <th th:text="#{typeVehicle}">Vehicle Type</th>
                    <th th:text="#{idStart}">Start</th>
                    <th th:text="#{idEnd}">End</th>
                    <th th:text="#{idProgress}">Progress</th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list" >
                <tr th:each="vehicle : ${vehiclesInfo}">
                    <td class="idVehicle" th:value="${idVehicle}" th:text="${vehicle.ID }">Vehicle ID</td>
                    <td class="typeVehicle" th:value="${typeVehicle}" th:text="${vehicle.type }">Vehicle Type</td>
                    <td class="idStart" th:value="${idStart}" th:text="${vehicle.start }">Start</td>
                    <td class="idEnd" th:value="${idEnd}" th:text="${vehicle.end }">End</td>
                    <td class="idProgress" th:value="${idProgress}" th:text="${vehicle.progress }">Progress</td>
                    <td><button class="button" th:text="#{show}" th:onclick="${'javascript:changeSelectVehicle(' + vehicle.ID + ')'}">edit</button></td>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var currentVehicleID = -1;
                        var progressVehicleID = -13;

                        function changeSelectVehicle(vehicleID) {
                            if(currentVehicleID == vehicleID)
                            {
                                currentVehicleID = -1;
                            }else{
                                currentVehicleID = vehicleID;
                            }
                            console.log("Vehicle id clicked "+ currentVehicleID);

                            //var selected_Vehicle = [[${vehicle.ID}]];

                        }
                        /*]]>*/
                    </script>
                </tr>
                </tbody>
                </table>


















                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var cellImageBackGround = /*[[@{/images/map/test_lol.png}]]*/;

                    var cellImageRoad = /*[[@{/images/map/road.png}]]*/;
                    var pointAImage = /*[[@{/images/map/pointA.png}]]*/;
                    var pointBImage = /*[[@{/images/map/pointB.png}]]*/;
                    var spotImage = /*[[@{/images/map/spot.png}]]*/;

                    var surroundImage = /*[[@{/images/map/surrounding.png}]]*/;

                    var pointA =  /*[[*{pointA}]]*/

                    var cellImageSpotDrone = /*[[@{/images/map/road_drone.png}]]*/;
                    var cellImageRoadDrone = /*[[@{/images/map/spot_drone.png}]]*/;
                    var cellImageDrone = /*[[@{/images/map/drone.png}]]*/;

                    var cellImageSpotCar = /*[[@{/images/map/spot_car.png}]]*/;
                    var legendeWorld = /*[[@{/images/map/legende_visual.png}]]*/;

                    var only_view = true;
                    var visualization = true;

                    /*]]>*/
                </script>
                <!-- <div id="tablePrint"> </div>-->

                <p>
                    <a id="reloadButton" href="/visualization" th:text="#{reload_visual}" class="button" >Close</a>
                </p>
                <p>
                    <a id="closeButton" href="/deliveries" th:text="#{close}" class="button" >Close</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content" id="content" ><!--style="width:100%">-->
    <div id="myDiv">   <!-- style="width:100%"> -->
        <!-- Quentin wereld
        <div id="myMapCanvas" width="1500" height="1500">
            <canvas id="mapCanvas" width="1500" height="1500" style="border:1px solid #000000"></canvas>
        </div>
        -->
        <div id="myMapCanvas" width="900" height="900" >
            <canvas id="mapCanvas" width="900" height="900" style="border:1px solid #000000"></canvas>
        </div>
    </div>
</div>
</body>
</html>