<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Visualisation</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" />
    <link href="/css/cards.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link href="/css/adminp.css" rel="stylesheet" />
</head>

<body onload="initFunction()" style="margin:0;">


<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div th:replace="layout :: side-menu"></div>

        <div class="col-md-10 col-sm-11 display-table-cell valign-top padding-bottom">
            <div th:replace="layout :: header('Visualisation')"></div>
            <!-- In deze "div" komt de inhoud van de webapplicatie waar alle "actie" zich bevindt -->
            <div class="inside-con">


                <div class="loadDiv">
                    <div id="loader" class="row"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 content" id="content" ><!--style="width:100%">-->
                        <div id="myMapCanvas" >
                            <canvas id="mapCanvas"></canvas>
                        </div>
                    </div>
                </div>

                <div class="login-wrap row">
                    <div class="scrollingtable">
                        <div>
                            <div>
                                <table class="table table-hover" id = "table_deliveries">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th><span th:label="#{idVehicle}">Backbone ID</span></th>
                                        <th th:text="#{username}">User Name</th>
                                        <th th:text="#{start} + #{map}">Start map</th>
                                        <th th:text="#{start} + #{id}">Start ID</th>
                                        <th th:text="#{arrival} + #{map}">Arrival map</th>
                                        <th th:text="#{arrival} + #{id}">Arrival ID</th>
                                        <th><span th:text="#{show}">SHOW</span></th>
                                    </tr>
                                    </thead>
                                    <!-- IMPORTANT, class="list" have to be at tbody -->
                                    <tbody class="list" >
                                    <div th:each="delivery : ${deliveries}">
                                        <tr th:id="${delivery.backboneID }">
                                            <td class="idVehicle" th:value="${idVehicle}" th:text="${delivery.backboneID }">Delivery ID</td>
                                            <td class="lastName" th:value="${username}" th:text="${delivery.username }">User Name</td>
                                            <td class="pointName" th:value="${mapA}" th:text="${delivery.mapA }">Map A</td>
                                            <td class="pointName" th:value="${pointA}" th:text="${delivery.pointA }">Point A</td>
                                            <td class="pointName" th:value="${mapB}" th:text="${delivery.mapB }">Map B</td>
                                            <td class="pointName" th:value="${pointB}" th:text="${delivery.pointB }">Point B</td>
                                            <td><button class="button track" data-toggle="collapse" th:attr="data-target='#'+${delivery.backboneID}+'-jobs'" th:text="#{show}" th:onclick="'javascript:trackDelivery(\'' + ${delivery.backboneID} + '\');'">Track</button></td>
                                        </tr>
                                        <tr th:id="${delivery.backboneID} + '-jobs'" class="collapse">
                                            <td>Jobs:</td>
                                            <td class="deliveryJobs"></td>
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/tabs.js"></script>

<script th:inline="javascript">
    var only_view = true;
    var visualization = true;
</script>
<script  src="/js/map.js"></script>
</body>
</html>

