<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Visualisation</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/default.css" rel="stylesheet" />
    <link href="../css/cards.css" rel="stylesheet" />
    <link href="../css/dashboard.css" rel="stylesheet" />
    <link href="../css/adminp.css" rel="stylesheet" />
</head>

<body onload="initFunction()" style="margin:0;">


<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div th:replace="layout :: side-menu"></div>

        <div class="col-md-10 col-sm-11 display-table-cell valign-top padding-bottom">
            <div th:replace="layout :: header('Visualisation')"></div>
            <!-- In deze "div" komt de inhoud van de webapplicatie waar alle "actie" zich bevindt -->
            <div class="inside-con">


                <div class="loadDiv">
                    <div id="loader" class="row"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 content" id="content" ><!--style="width:100%">-->
                        <div id="myMapCanvas" >
                            <canvas id="mapCanvas"></canvas>
                        </div>
                    </div>
                </div>

                <div class="login-wrap row">
                    <div class="scrollingtable">
                        <div>
                            <div>
                                <table class="table table-hover" id = "table_deliveries">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th><span th:label="#{idVehicle}">Delivery ID</span></th>
                                        <th th:text="#{userName}">User Name</th>
                                        <th th:text="#{start}">Start</th>
                                        <th th:text="#{arrival}">Arrival</th>
                                    </tr>
                                    </thead>
                                    <!-- IMPORTANT, class="list" have to be at tbody -->
                                    <tbody class="list" >
                                    <tr th:each="delivery : ${deliveries}" th:id="${delivery.idDelivery }">
                                        <td class="idVehicle" th:value="${idVehicle}" th:text="${delivery.idDelivery }">Delivery ID</td>
                                        <td class="lastName" th:value="${userName}" th:text="${delivery.userName }">User Name</td>
                                        <td class="pointName" th:value="${pointA}" th:text="${delivery.pointA }">Point A</td>
                                        <td class="pointB" th:value="${pointB}" th:text="${delivery.pointB }">Point B</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="login-wrap row">
                    <div class="scrollingtable">
                        <div>
                            <div>
                                <table class="table table-hover" id = "table_vehicles">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th><span th:text="#{idVehicle}">ID_VEHICLE</span></th>
                                        <th><span th:text="#{typeVehicle}">TYPE</span></th>
                                        <th><span th:text="#{idStart}">START</span></th>
                                        <th><span th:text="#{idEnd}">END</span></th>
                                        <th><span th:text="#{idProgress}">PROGRESS</span></th>
                                        <th><span th:text="#{show}">SHOW</span></th>
                                    </tr>
                                    </thead>
                                    <!-- IMPORTANT, class="list" have to be at tbody -->
                                    <tbody class="list" >
                                    <tr th:each="vehicle : ${vehiclesInfo}" th:id="${vehicle.ID }">
                                        <td class="idVehicle" th:value="${idVehicle}" th:text="${vehicle.ID }">Vehicle ID</td>
                                        <td class="typeVehicle" th:value="${typeVehicle}" th:text="${vehicle.type }">Vehicle Type</td>
                                        <td class="idStart" th:value="${idStart}" th:text="${vehicle.start }">Start</td>
                                        <td class="idEnd" th:value="${idEnd}" th:text="${vehicle.end }">End</td>
                                        <td class="idProgress" th:value="${idProgress}" th:text="${vehicle.progress }">Progress</td>
                                        <td><button class="button track" th:text="#{show}" th:onclick="'javascript:changeSelectVehicle(\''+ ${vehicle.type} +'\','+ ${vehicle.ID} + ');'">edit</button></td>

                                        <script th:inline="javascript">
                                            /*<![CDATA[*/

                                            // function is used in button above
                                            function changeSelectVehicle(vehicleType, vehicleID) {
                                                $('.track').text("TRACK");
                                                if(currentVehicleID == vehicleID)
                                                {
                                                    currentVehicleID = -1;
                                                    currentVehicleType = 'none';
                                                }else{
                                                    currentVehicleID = vehicleID;
                                                    currentVehicleType = vehicleType;
                                                    $("#"+vehicleID + " .track").text('UNTRACK');
                                                }
                                                console.log("Vehicle id clicked "+ currentVehicleID);
                                            }
                                            /*]]>*/
                                        </script>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="../js/tabs.js"></script>

<script th:inline="javascript">
    var only_view = true;
    var visualization = true;
</script>
<script  src="../js/map.js"></script>
</body>
</html>

